#create-note{
    margin: 2em 0;
    display: flex;
    justify-content: end;
}
#create-note *{
    margin-left: 2em;
    padding: 1em;
    background-color: #b6d7d7;
    border-radius: 0.5em;
}
#create-note div{
    opacity:  0;
    transition: opacity 1s;
}
#create-note button{
    border: 1px solid cadetblue;
}
.wrapper-div{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
}
form *{
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
}
form{
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.5em;
    padding: 1em;
}
form > *:not(:last-child){
    margin-bottom: 0.5em;
}
input, select, textarea{
    width: 100%;
    max-width: 100%;
    padding: 10px;
}
textarea{
    min-width: 100%;
    min-height: 4em;
    max-height: 12em;
}
.invalid-input{
    border-color: crimson;
    background-color: rgba(220,20,60,0.5);
}
