@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
header, main{
    padding: 15px 60px;
}
header{
    text-align: center;
    color: ghostwhite;
    background-color: darkcyan;
}
